@charset "utf-8";
html, body{
	height: 100%;
}
#main{
	float: left;
	height: 100%;
	width: 75%;
}
a:link{
	text-decoration: inherit;
	color: inherit;
}
a:visited{
  text-decoration: inherit;
  color: inherit;
}